<footer class="page-footer transparent shadow-footer">
    <div class="container footer-links">
        <div class="row">
            <div class="col l3 s6">
                <h5 class="text-footer-title">Услуги</h5>
                <ul>
                    <li class="footer-link"><a class="text-footer-link" href="/shop">Продвижение
                            сервера</a></li>
                    <li class="footer-link"><a class="text-footer-link" href="/partners">Партнёрские
                            программы</a></li>
                </ul>
            </div>
            <div class="col l3 s6">
                <h5 class="text-footer-title">Информация</h5>
                <ul>
                    <li class="footer-link"><a class="text-footer-link" href="/terms">Условия
                            использования</a></li>
                    <li class="footer-link"><a class="text-footer-link" href="/privacy">Политика
                            конфиденциальности</a></li>
                </ul>
            </div>
            <div class="col l3 s6">
                <h5 class="text-footer-title">Помощь</h5>
                <ul>
                    <li class="footer-link"><a class="text-footer-link" href="/support">Техническая
                            поддержка</a></li>
                    <li class="footer-link"><a class="text-footer-link" href="/support">Сообщить
                            о
                            нарушении</a></li>
                </ul>
            </div>
            <div class="col l3 s6">
                <h5 class="text-footer-title">Ссылки</h5>
                <ul>
                    <li class="footer-link"><a class="text-footer-link" target="_blank"
                            href="https://discord.gg/XMrndZut">Команда разработчиков</a></li>
                    <li class="footer-link"><a class="text-footer-link" href="/about">Подробности
                            проекта</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="width: 100%;height:2px; background: rgb(236, 236, 236);border-radius: 8px;margin-bottom: 20px;">
        </div>
    </div>

    <div class="footer-copyright footer-credits">
        <div class="container text-color-gray">
            <div class="row">
                <div class="col l3 s6">
                    <p>© Craftomania 2022-2024</p>
                </div>

                <div class="footer-cards col l6 s12 center hide-on-med-and-down" style="margin-top: 6px;">
                    <img class="footer-img-credit" alt="qiwi" src="/img/qiwi.svg" style="margin-left: 30px;">
                    <img class="footer-img-credit" alt="webmoney" src="/img/webmoney.svg">
                    <img class="footer-img-credit" alt="mastercard" src="/img/mastercard.svg">
                    <img class="footer-img-credit" alt="visa" src="/img/visa.svg">
                    <img class="footer-img-credit" alt="paypal" src="/img/paypal.svg">
                </div>

                <div class="col l3 s6" style="margin-top: -2px;">
                    <p class="right">Язык: Русский (RU)</p>
                </div>
            </div>

        </div>

    </div>

</footer>

<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/support.js"></script>